<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("header")
    </div>
    <div>
        @Html.Sitecore().Placeholder("main-content")
    </div>
    <div>
        @Html.Sitecore().Placeholder("footer")
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlhSSbE8icQZ1q5GllFm4G3h0hfCHwp9Y"></script>
    <script src="~/Assets/js/scripts.js"></script>
</body>
</html>